<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/{{style}}.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">

  <title>Home Page</title>
</head>


<body>
  <div class="jumbotron mb-0">
    <h1 class="text-center">Duckery</h1>
    <h3 class="text-center">A developer's best friend</h3>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light pt-0 pb-0 pr-0 pl-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {{#if isAuthenticated}}
      <a class="nav-item nav-link pr-5 pl-5" href="/logout">Logout</a>
      <a class="nav-item nav-link pr-5 pl-5" href="/profile">Profile</a>
      {{else}}
      <a class="nav-item nav-link pr-5 pl-5" href="/signup">Sign up</a>
      <a class="nav-item nav-link pr-5 pl-5" href="/login">Login</a>
      {{/if}}
      <a class="nav-item nav-link pr-5 pl-5" href="/createduck">Create Coding Ducky</a>
      <a class="nav-item nav-link pr-5 pl-5 mini" href="/minigames" tabindex="-1" aria-disabled="true">Mini-games</a>
    </div>
  </div>
</nav>
  {{{body}}}
</body>
<script src="/js/{{script}}.js"></script>
</html>
