<h1>The rubber duck debugging</h1>
<div class="container">
	<div class="duck">
		<div id="duck-dialog">
			<div id="message-intro">
			<p>
				Hello earthling, I am a tai quon duck here to help you
				with your programming problems.
			<p>
			<button>Explain your issue</button>
		</div>
		<div id="message-listening">
			<p>
				I am listening to your problem.
			</p>	
			<div id="siri-container"></div>
			<button>That's it</button>
		</div>
		<div id="message-thinking">
			<p>
				Prepare for infinite wisdom...
				</br>
				The answer to all your problems is...
			</p>
		</div>
		<div id="message-quack">
			<p class="quack">QUACK</p>
			<div class="hearth">
				
			</div>
			<button>Thank you</button>
		</div>
		<div id="message-np">
			<p>You are superior, go annhilate your problems.</p>
			<button>I love you</button>
		</div>
		<div id="message-i-know">
			<p>Um...</br>...Quack?</p>
				<div id="new-message">
			<p class="newQuestion">Do you want to ask me about another problem?</p>
			<div class="hearth">
				
			</div>
			<button>Sure.</button>
		</div>
		
		</div>
	</div>
	<div class="duck-body"></div>
</div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
	<script src='https://unpkg.com/siriwave@1.2.4/dist/siriwave.min.js'></script>