<h1>The rubber duck debugging</h1>
<div class="container">
<div class="duck">
	<div id="duck-dialog">
		<div id="message-intro">
			<p>
				Hello world, I am a rubber duck here to help you
				with your programming problems.
			<p>
			<button>Start talking</button>
		</div>
		<div id="message-listening">
			<p>
				I am listening to your problem.
			</p>	
			<div id="siri-container"></div>
			<button>That's it</button>
		</div>
		<div id="message-thinking">
			<p>
				I am thinking about it...
				The solution is...
			</p>
		</div>
		<div id="message-quack">
			<p class="quack">QUACK</p>
			<div class="hearth">
				
			</div>
			<button>Thank you</button>
		</div>
		<div id="message-np">
			<p>No problem bro, see you soon again.</p>
			<button>I love you</button>
		</div>
		<div id="message-i-know">
			<p>I know.</p>
		</div>
	</div>
	<div class="duck-body"></div>
</div>
</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
