<div id="quack-chat">
  <h2 id="chat-title">Quack Chat</h2>
  <div id="chat-window">
    <div id="chat-output">
      {{#each logs}}
        <p><b>{{this.username}}</b>: {{this.message}} <span class="timestamp"> | {{this.timestamp}}</span></p>
      {{/each}}
    </div>
    <div id="feedback"></div>
  </div>
  <form action="/api/chat" method="POST">
    <input name="message" type="text" id="message" placeholder="Message"/>
    <button id="send-chat"><i class="far fa-paper-plane"></i></button>
  </form>
</div>
