<h1 class="welcomeAll"> Welcome All!</h1>
<p class="welcomeP">We hope you enjoy Duckery! Take a look around, chat with fellow coders, and create your own duck to explain your problems to! Have fun with our mini-games 
  and earn achievements along the way. Make sure to login daily so you can always have your virtual duck ready to help you through any debugging or coding issue 
  you come across. Again, welcome to Duckery!
</p>
