<div class="container" id="projects">
  <a href="/minigames/askduck" class="links2" id="linkA">Ask Duck!</a>
  <a href="/minigames/battleducks" class="links2" id="linkB">Battle Ducks!</a>
  <a href="/minigames/duckshot" class="links2" id="linkC">Duck Shot!</a>
</div>
