<div class="container" id="projects">
  <a href="/minigames/askduck" class="links2"><img src="placeholder200x200" alt="Ask Duck!"></a>
  <a href="/minigames/battleducks" class="links2"><img src="placeholder200x200" alt="Battle Ducks"></a>
  <a href="/minigames/duckshot" class="links2"><img src="placeholder200x200" alt="Duck Shot!"></a>placeholder200x200
</div>
