<div class="container" id="projects">
  <a href="./minigames/askduck" class="links2"><img src="placeholder200x200" alt="Ask Duck!"></a>
  <a href="./minigames/battleducks" class="links2"><img src="placeholder200x200" alt="Battle Ducks"></a>
  <a href="./minigames/duckshot" class="links2"><img src="placeholder200x200" alt="Duck Shot!"></a>placeholder200x200
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
