<div class="container" id="projects">
  <a href="./askduck" class="links2"><img src="../public/images/ducky_debugger.JPG" alt="Ask Duck!"></a>
  <a href="./battleducks" class="links2"><img src="../public/images/duck_battles_pic.jpg" width="400" height="400" alt="Battle Ducks!"></a>
  <a href="./duckshot" class="links2"><img src="../public/images/duck_shot_pic.JPG" alt="Duck Shot!"></a>
</div>
