<div id="home">
  <div class="container">
{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger">
    {{this.msg}}
    </div>
  {{/each}}
{{/if}}
    <body class="text-center">
      <div class="row mt-5">
        <div class="col-5">

          <form method="POST" action="/signup" class="form-signup">
            <div class="mb-4 text-center" id="duck"></div>
            <h1 class="h3 mb-3 font-weight-normal mt-2">No account? Sign up!</h1>
            <label for="inputPassword" class="sr-only mt-2">Username</label>
            <input type="text" id="inputPassword" name="username" class="form-control mt-2 username" placeholder="Username"
              required="">
            <label for="inputPassword" class="sr-only mt-2">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control mt-2 password" placeholder="Password"
              required="">
            <label for="inputPassword" class="sr-only mt-2">Enter Password Again</label>
            <input type="password" id="inputPassword" name="password2" class="form-control mt-2 password2" placeholder="Password again"
              required="">
            <label for="inputEmail" class="sr-only mt-2">Email address</label>
            <input type="email" id="inputEmail" name="email" class="form-control mt-2 email" placeholder="Email address"
              required="" autofocus="">
            <button class="btn btn-lg btn-primary btn-block mt-2" id="submitSU" name="submit" type="submit"> Sign up</button>
          </form>
        </div>
    <div class="col-2"></div>
        <div class="col-5">

          <form class="form-signin" method="POST" action="/login">
            <div class="mb-4 text-center" id="duck"></div>
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only mt-2">Username</label>
            <input type="text" id="inputEmail" name="username" class="form-control mt-2 signinem" placeholder="Username" required=""
              autofocus="">
            <label for="inputPassword" class="sr-only mt-2">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control mt-2 signinpw" placeholder="Password" required="">
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block mt-2" name="submit" type="submit"> Sign in</button>
          </form>
        </div>

      </div>

    </body>
  </div>





  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>