.list-group-item {
  line-height: 2.5;
}

#duck{

position: relative;
margin: 0em auto 0em;
width: 8em;
height: 16em;
border-radius: 100% 0% 0% 100%/50% 0% 0% 50%;
background-color:#03a162;
background-image:
radial-gradient(#000, #000 5px, transparent 0px);
background-size: 300px 300px; 
background-position: 225px 220px;
transform:rotate(45deg);
z-index: -3;
}
#duck:before{
content:"";
position:absolute;
right: -7.9em;
top:0em;
width:8em;
height:8em;
background:#ff9204;
border-bottom-right-radius:100%;
}
#duck:after{
content:"";
position:absolute;
right: -7.9em;
bottom:0em;
width:8em;
height:8em;
background:#03a162;
border-top-right-radius:100%;
}