.list-group-item {
  line-height: 2.5;
}

#home {
  background-image: url(../media/bonusducks.mp4.mp4);
  background-size: cover;

}
.collapse{
  background-image: url(../media/nab2.PNG);
  background-size: cover;
  background-repeat: none;
}
.navbar-nav{
  padding-top: 0%;
  padding-bottom: 0%;
}
.nav-item{
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  -webkit-text-stroke: .5px black;
  color: white !important;
  text-shadow:
    3px 3px 0 #000,
   -.5px -.5px 0 #000,  
    .5px -.5px 0 #000,
   -.5px  .5px 0 #000,
    .5px  .5px 0 #000;
    border-right: solid 2px rgb(255, 217, 0);
}
body{
background-image: url(../media/blue2.jpg);
background-size: cover;
}
.navbar{
  border-bottom: solid 2px rgb(255, 217, 0); 
}
.mini {
  border-right: none;
}
.nav-link:hover{
  color: rgb(255, 217, 0) !important;
}
.jumbotron{
  background-image: url(../media/duckbanner.jpg);
  background-size: cover;
  background-repeat: none;
  font-family: 'Indie Flower', cursive;
  -webkit-text-stroke: .5px black;
  color: white;
  text-shadow:
    3px 3px 0 #000,
   -.5px -.5px 0 #000,  
    .5px -.5px 0 #000,
   -.5px  .5px 0 #000,
    .5px  .5px 0 #000;
}